<p>Dear {{ name }},</p>

<p>Thank you for subscribing to the CIC Insurance newsletter! We're excited to have you join our community.</p>

<p>By subscribing, you'll be among the first to receive updates, insights, and news about the latest initiatives, events, and opportunities to engage with CIC Insurance.</p>

<p>We are committed to keeping you informed and inspired as we work together to build a more connected and impactful community.</p>
<p>Looking to take your trading to the next level? Log in to our platform today to explore, purchase, or sell trading bots tailored to your needs.</p>

<p>
    <a href="{{ url }}" style="display: inline-block; padding: 10px 20px; color: white; background-color: #007BFF; text-decoration: none; border-radius: 5px; font-weight: bold;">Login Now</a>
</p>
<p>If you ever have any questions, feedback, or suggestions, feel free to reach out to us at <a href="mailto:civicnexusv1@gmail.com">support@CIC Insurance.com</a>.</p>

<p>Thank you for being part of CIC Insurance. We look forward to staying in touch!</p>

<p>Warm regards,<br>The CIC Insurance Team</p>
